.form {
    border:1px solid navy;
    border-radius:4px;
    background-color:#48B5B5;
    height:150px;
    width:300px;
    margin:auto;
    padding:10px;
}
label {
    color:#FFF;
    font-size:18px;   
}
input[type=text], input[type=password]{
    float:right;
    line-height:18px;
}
input[type=submit]{
    margin-top:10px;
    float:right;
}
h1 {
    text-align:center;
    margin-top:10%;
    color:#09094A;
}
.bg-danger, .bg-success{
    width:250px;
    margin:auto;
    margin-top:5px;
}
.wrapper {
    width: 300px;
    margin: auto;
    margin-top: 50px;
    font-size: 24px;
}
.logout a {
    background: #eee;
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    float: right;
    margin:25px 25px 0 0;
}
.nav {
    margin-left:50%;
}
