/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2015, 9:34:33 PM
    Author     : 001305466
*/

.message-box {
    width:500px;
    background-color:#ccc;;
    border:1px solid #000;
    border-radius:4px;
    color:#32C9CE;
    font-size:36px;
    font-weight:600;
    padding:10px;
    height:auto;
    margin:auto;
    margin-top:50px;
}

